---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import bog1 from "../assets/images/kobenhavnerbilleder_aaben_venstre.png";
import bog2 from "../assets/images/kobenhavnerbilleder_oppefra.png";
import bog3 from "../assets/images/kobenhavnerbilleder-sten-simons.png";
import billede1 from "../assets/images/0007.png";
import billede2 from "../assets/images/0008.png";
import billede3 from "../assets/images/0009.png";
import billede4 from "../assets/images/0010.png";
import billede5 from "../assets/images/0011.png";
import billede6 from "../assets/images/0012.png";
import forfatter from "../assets/images/sten_simons.png";
const images = Object.values(
  import.meta.glob("/src/assets/images/galleri/*", { eager: true })
).map(file => file.default);
---
<MainLayout title="Titel">
	<section class="grid md:grid-cols-2 lg:mt-32">
  <div>
    <Image src={bog1} alt="københavnerbilleder" class="sscale-95 hover:scale-120" />
  </div>

  <div class="text-4xl p-8 grid content-center bg-red-950">
    <p class="pb-8 text-white">Københavnerbilleder</p>
    <p class="mb-8 text-2xl text-white">Københavnervillleder - en guide til hipster foto af Sten Simons</p>

    <div class="flex gap-4">
      <input 
        type="email" 
        placeholder="E-mail" 
        class="p-2 text-black border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-red-900"
      />
      
      <Link 
        variant="primary" 
        size="small" 
        href="#tilmelding" 
        class="!text-xs p-2 bg-red-900 text-white rounded-md hover:bg-red-800"
      >
        Hent Prøvekapitel
      </Link>
    </div>
  </div>
</section>


		<section id="bogen" class="mt-32 grid lg:grid-cols-2 prose mx-auto gap-4">
			<article  >
				<h2 class="text-4xl">Kort om bogen</h2>
				<p>Københavnerbilleder er de danske streetfotografers bibel: Det er en fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle væsentlige aspekter af streetfotografering fra grundlæggende teknik til kreative eksperimenter. Alt sammen krydret med masser af inspirerende fotos. God læselyst!	 
</p>
			</article>
			<article >
				<h2 class="text-4xl">Facts om bogen</h2>
				<ul class="list-disc pl-5 marker:text-red-950">
					<li>Titel: Københavnerbilleder - en guide til hipster foto</li>
					<li>Forfatter: Sten Simons</li>
					<li>Antal sider: 344</li>
					<li>Forlag: Mellem Linjerne</li>
					<li>ISBN: 987-6-987654-32-1</li>
					<li>Pris: 399.-</li>
				</ul>
			</article>
		</section>
		
<section class="mt-32 grid lg:grid-cols-3 gap-2 mx-auto items-center">
  <div class="overflow-hidden h-96">
    <Image 
      src={bog1} 
      format="png" 
      alt="foto" 
      class="w-full h-full object-cover grayscale opacity-50 hover:grayscale-0 hover:opacity-100 transition duration-700"
    />
  </div>

  <div class="overflow-hidden h-96">
    <Image 
      src={bog3} 
      format="png" 
      alt="foto" 
      class="w-full h-full object-cover grayscale opacity-50 hover:grayscale-0 hover:opacity-100 transition duration-700"
    />
  </div>

  <div class="overflow-hidden h-96">
    <Image 
      src={bog2} 
      format="png" 
      alt="foto" 
      class="w-full h-full object-cover grayscale opacity-50 hover:grayscale-0 hover:opacity-100 transition duration-700"
    />
  </div>
</section>

		<section class="mt-32" id="kapitlerne">
			<h2 class="text-4xl font-bold">Kapitlerne</h2>
			<div class="grid grid-cols-1 lg:grid-cols-2 mx-auto mt-4 gap-8">
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 1 - Intro til street foto</h3>
					<p>Hvad er street foto? Det handler i bund og grund om at skyde byens liv og byens geometri (urban geometry). I dette kapitel får du en grundig intro til hvad street foto er og et overblik over nogen af de kendte street-fotografer. Alt krydret med en masse gode eksempler på street fotos.</p>
				</article>
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 2 - Om at skyde street</h3>
					<p>Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på gaderne og prøve det! I dette kapitel får du en teknisk indføring i hvordan du bedst skyder street. Uanset om du er begynder eller professionel, er der mange gode tekniske tips og tricks til street-skyderiet.</p>
				</article>
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 3 - Om at finde det rette motiv</h3>
					<p>Indimellem er man heldig, andre gange kommer man hjem helt uden gode motiver. Med et par tips og tricks til at finde de rette motiver, stiger chancen gevaldigt for at fange de gode motiver.</p>
				</article>
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 4 - Digital street foto</h3>
					<p>De fleste af os skyder oftest digitalt fordi det er billigere og nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til digital street foto. I dette kapitel får du en række tips og tricks til digital street-foto. </p>
				</article>		
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 5 - Analog street foto</h3>
					<p>Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder egner sig bedst til analog street foto. I dette kapitel får du en række tips og tricks til analog street-foto. </p>
				</article>	
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 6 - Om at skyde sort/hvid</h3>
					<p>Alle street-fotografer skyder sort/hvid nu og da. Nogen altid. Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad adskiller sort/hvid fra farvefotografering? Her får du en række tips og tricks til sort/hvid fotografering.  </p>
				</article>	
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 7 - Kreative teknikker </h3>
					<p>Dobbelteksponeringer, ICM (intentional camera moves), smadrede objektiver, gamle filmruller og alle mulige andre, spændende kreative teknikker kan løfte dine fotografier fra at være kedelige dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk ned i dette kapitel om eksperimenterende teknikker!</p>
				</article>	
				<article class="kapitel">
					<h3 class="text-xl">Kapitel 8 - Kom helt tæt på!</h3>
					<p>Street foto handler om at fotografere livet på gaden - men tør du at gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt øve dig, for det er det der vil gøre dig til en bedre street-fotograf…</p>
				</article>	
			</div>
		</section>


		<section class="mt-32" id="pressen">
  <h2 class="text-4xl font-bold mb-12">Pressen siger</h2> <!-- Tilføjet mb-12 for mere luft -->
  
  <div class="grid grid-cols-1 lg:grid-cols-3 mx-auto gap-10"> <!-- Justeret gap-15 til gap-10 -->
    
    <article class="prose mb-6">
      <span class="font-bold">5 af 6 stjerner</span>
      <p>Københavnerbilleder er en grundig introduktion til at skyde billeder med retro-kant. Hvad enten du er har arbejdet med foto siden 135-filmen kom på markedet, du kun har skudt digitalt eller er helt nybegynder, er der masser af tips og tricks i bogen.</p>
      <p class="italic">Hanne Hovgaard, Berlingeren</p>
    </article>

    <article class="prose mb-6">
      <span class="font-bold">4 af 5 stjerner</span>
      <p>Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal man sige om en fotobog?</p>
      <p class="italic">Kim Kloggaard, Fotojournalen.dk</p>
    </article>

    <article class="prose mb-6">
      <span class="font-bold">6 af 6 stjerner</span>
      <p>Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje fotobog er klart den bedste - her er han for alvor i sit rette element, meget bedre end “studiefotografering som begyndere.” Tillykke - godt arbejde.</p>
      <p class="italic">Volmer Hansen, Lukkertiden.dk</p>
    </article>
    
  </div>
</section>


<div id="galleri">
<section class="mt-32 px-4 max-w-screen-xl mx-auto">
  <h2 class="text-4xl font-bold text-center mb-12">Galleri</h2>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
    <Image src={billede1} alt="Galleri billede 1" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
    <Image src={billede2} alt="Galleri billede 2" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
    <Image src={billede3} alt="Galleri billede 3" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
    <Image src={billede4} alt="Galleri billede 4" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
    <Image src={billede5} alt="Galleri billede 5" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
    <Image src={billede6} alt="Galleri billede 6" class="w-full h-[300px] sm:h-[400px] lg:h-[500px] object-cover shadow-lg hover:scale-105 transition duration-300" />
  </div>
</section>
</div>


			<section id="forfatteren" class="grid lg:grid-cols-2 mt-32 max-w-3xl mx-auto gap-10"> 
			<div>
				<Image src={forfatter} alt="Sten Simons" class="" />
			</div>
			<article class="prose">
				<h2 class="text-4xl">Forfatteren</h2>
				<p>Sten Simons har en lang foto-karriere bag sig. Det hele startede i 00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens forfald. Det ledte til en række udstillinger, og blev senere til hans først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.”</p>
				<p>Derefter tog karrieren fart: Han blev fotojournalist og dokumenterede en masse dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende begyndte han at undervise i foto, og har skrevet et utal af bøger, herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse, og lærebogen Fotografering for evnesvage.</p>		
			</article>
		</section>

		<section id="køb_bogen" class="max-w-lg mx-auto mt-32 mb-32 p-4 border border-black">
  <h2 class="text-4xl font-bold pb-4">Køb bogen nu!</h2>
  <form class="space-y-4 grid grid-cols-1 gap-6">
    <div>
      <span>Betaling:</span>
      <input type="radio" id="forud" name="levering" checked="checked">
      <label for="forud">Forudbetaling</label>
      <input type="radio" id="kredit" name="levering">
      <label for="kredit">Kredit</label>
      <input type="radio" id="kontant" name="levering">
      <label for="kontant">Kontant</label>
    </div>

    <div class="grid gap-3">
      <label for="navn">Navn:</label>
      <input type="text" id="navn" name="navn" placeholder="Anders And">
    </div>

    <div class="grid gap-3">
      <label for="adresse">Adresse:</label>
      <input type="text" id="adresse" name="adresse" placeholder="Paradisæblevej 8">
    </div>

    <div class="grid gap-3 grid-cols-6">
      <label for="postnummer" class="col-span-6">Postnummer & by:</label>
      <input type="text" id="postnummer" name="postnummer" class="col-span-2" placeholder="0900">
      <input type="text" id="bynavn" name="bynavn" disabled class="col-span-4" placeholder="Andeby C">
    </div>

    <div class="grid gap-3">
      <label for="telefon">Telefon:</label>
      <input type="tel" id="telefon" name="telefon" placeholder="555-555">
    </div>

    <div>
      <input type="checkbox" id="nyhedsbrev" name="nyhedsbrev">
      <label for="nyhedsbrev">Ja tak til nyhedsbreve og tilbud</label>
    </div>

    <div class="flex justify-end animate-pulse">
      <Button variant="primary" size="small">Til betaling</Button>
    </div>
  </form>
</section>


</MainLayout>